* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #0050a2;
    display: flex;
    /*background: url(background_cube.jpg) center center;*/
}

#screen {
    position: relative;
    width: 1320px;
    height: 730px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    color: #FFF;
    overflow: hidden;
}

h1 {
    font-size: 56px;
    font-family: Arial;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    position: absolute;
    top: 20px;
    left: 20px;
}

#logo {
    width: 300px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#map {
    position: absolute;
    top: 50px;
    left: 50px;
}

#clock_canvas {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 300px;
}
